
<body>
    

<div style="padding: 50px;" class="central">      
        <div class="inicio central">

                <!-- <div class="botao_cadastro" for="toggle-1" ><button>Cadastro</button></div>   -->
      
                <div class="janela_renderizada_cadastro" >

                    <h1>Cadastre-se gratuitamente.</h1>
                      <p>
                          <input type="text" size="60px" name="search" placeholder="Nome" />
                      </p>
                      <p>
                          <input type="text" size="60px" name="search" placeholder="Sobrenome" />
                      </p>
                      <p>
                          <input type="text" size="60px" name="search" placeholder="Telefone" />
                      </p>
                      <p>
                          <input type="mail" size="60px" name="search" placeholder="Email" />
                      </p>
                      <p>
                          <input type="datetime" size="60px" name="search" placeholder="Data" />
                      </p>
                      <p>
                          <input type="address" size="60px" name="search" placeholder="Endereço" />
                      </p>
                      <p>
                          <input type="text" size="60px" name="search" placeholder="Bairro" />
                      </p>
                      <p>
                          <input type="text" size="60px" name="search" placeholder="Numero" />
                      </p>
                      <p>
                          <input type="text" size="60px" name="search" placeholder="Telefone" />
                      </p>
                      <p>
                          <input type="password" size="60px" name="search" placeholder="Senha" />
                      </p>
                      <div class="botao_janela centralizando">
                          <a routerLink="/home">
                            <button>Cadastrar agora!</button>
                          </a>
                      </div>
              </div> 
                  
      </div>
  </div> 

</body>