<body>

        <div style="padding: 50px;" class="central">
                <div class="inicio central">

                        <div class="centralizando topico">

                            
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/porcoes">
                                                <img src="assets/pepino.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>

                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/porcoes">
                                                <img src="assets/alface.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/porcoes">
                                                <img src="assets/beterraba.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                             

                        </div>

                        <div class="centralizando ">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/lanches">
                                                <img src="assets/brocolis.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/lanches">
                                                <img src="assets/couve_flor.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/lanches">
                                                <img src="assets/maionese.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                             

                        </div>

                        <div class="centralizando ">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/japones">
                                                <img src="assets/Tomate.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/japones">
                                                <img src="assets/Arroz.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/japones">
                                                <img src="assets/arroz_integral.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                        </div>

                        <div class="centralizando ultimo_topico">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/feijao.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/macarrao.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/frango_milanesa.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                        </div>

                        <div class="centralizando ultimo_topico">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/peito_frango.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/file_peixe.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/carne_de_panela.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                        </div>

                        <div class="centralizando ultimo_topico">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/coracao_buffet.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/Bife.jpg" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/mandioca.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div> 
                        </div>
                </div>
        </div>

</body>