<body style="background-color: #c5c2c1; margin: auto;">
    <div style="padding: 50px;" class="central">      
        <div class="inicio central">
            <div class="center_center">
            
                <div class="div_porcoes">
                    <div class="imagem_porcao">
                            <img src="assets/porcao1.png" alt="">
                    </div>
            
                    <div class="descricao_porcao">
                        <span>R$</span>
                        <h1>25.90</h1>
                        <div class="descricao_porcao1">
                            <p>Descricao descricao descricao Descricao 
                            </p>
                        </div>

                        <div class="descricao_botao">
                            <p>Adicionar seu produto no carrinho de compras?</p>
                            <button (click)="addToCart(chinesa)">Adicionar</button>
                        </div>
                    </div>
                </div>

                <div class="div_porcoes">
                        <div class="imagem_porcao">
                                <img src="assets/camarao.png" alt="">
                        </div>
                
                        <div class="descricao_porcao">
                                <span>R$</span>
                                <h1>25.90</h1>
                                <div class="descricao_porcao1">
                                    <p>Descricao descricao descricao Descricao 
                                    </p>
                                </div>
        
                                <div class="descricao_botao">
                                    <p>Adicionar seu produto no carrinho de compras?</p>
                                    <button>Adicionar</button>
                                </div>
                            </div>
                        </div>

                    <div class="div_porcoes">
                            <div class="imagem_porcao">
                                    <img src="assets/coracao.png" alt="">
                            </div>
                    
                            <div class="descricao_porcao">
                                    <span>R$</span>
                                    <h1>25.90</h1>
                                    <div class="descricao_porcao1">
                                        <p>Descricao descricao descricao Descricao 
                                        </p>
                                    </div>
            
                                    <div class="descricao_botao">
                                        <p>Adicionar seu produto no carrinho de compras?</p>
                                        <button>Adicionar</button>
                                    </div>
                                </div>
                            </div>

                        <div class="div_porcoes">
                                <div class="imagem_porcao">
                                        <img src="assets/file_de_tilapia.png" alt="">
                                </div>
                        
                                <div class="descricao_porcao" style="border-bottom: none;">
                                        <span>R$</span>
                                        <h1>25.90</h1>
                                        <div class="descricao_porcao1">
                                            <p>Descricao descricao descricao Descricao 
                                            </p>
                                        </div>
                
                                        <div class="descricao_botao">
                                            <p>Adicionar seu produto no carrinho de compras?</p>
                                            <button>Adicionar</button>
                                        </div>
                                    </div>
                                </div>

            </div>
        </div>
    </div>       
</body>