<body>

    <div style="padding: 50px;" class="central">      
          <div class="inicio central" >
              <div style="background-color: #f4511e;">

                    <div class="centralizando rodateto">
                        <img src="assets/logo.png" alt="">
                        <!-- <h1>Bem-vindo ao Several Foods!</h1> -->
                    </div>


                    <div>
                        <h1> Several Foods</h1>
                        <p>seja Bem-vindo! aqui você poderá ver um variedade enorme de comida com 
                            praticidade e rapidez.
                        </p>
                    </div>

                </div>
                

                <div style="background-color: #56c7b8; padding: 30px;">
                    <div class="centralizando">
                        <a routerLink="/home"><button class="button"><span>Entrar</span></button></a>
                    </div>   
                </div>
        </div>
    </div> 
</body>