
<!-- <app-tob-bar></app-tob-bar> -->
<nav style="text-align: center;">
  <!-- <a style="padding-right: 8px;" routerLink="/">Index</a> -->
  <!-- <a style="padding-right: 8px;" routerLink="/about/13">About</a> -->
  <a style="padding-right: 8px;" routerLink="/home"><img style="width: 50px;" src="assets/dsad.png" alt=""></a>
  <a style="padding-right: 8px;" routerLink="/cart"><img style="width: 50px;" src="assets/57451.png" alt=""></a>
  
</nav>
<router-outlet></router-outlet> 

<!-- <br>
<input type="text" value="Mickey">
<br> Password:
<br>
<input type="password" value="Mouse">
<br>
<br>
<button (click)="LogOn()">Enviar</button> -->

