<body style=" margin: auto;">
    <div style="padding: 50px;" class="central">
        <div class="inicio central">
            <div class="center_center">

              <div *ngIf="hamburger">

                    <div class="div_porcoes">
                        <div class="imagem_porcao">
                            <img src="{{hamburger.imagem}}" alt="">
                        </div>
                
                        <div class="descricao_porcao">
                            <span>R$</span>
                            <h1>{{ hamburger.price | currency }}</h1>
                            <div class="descricao_porcao1">
                                <p>{{ hamburger.name }}</p>
                                <p>{{ hamburger.description }}</p>
                            </div>

                            <div class="descricao_botao">
                                <button (click)="addToCart(hamburger)">Adicionar no carrinho</button>
                            </div>
                        </div>

                </div>
              </div>

      </div>
    </div>
  </div>
</body>