<body style=" margin: auto;">
    <div style="padding: 50px;" class="central">
        <div class="inicio central">
            <div class="center_center">

<!-- Começo das descrições do produto-->

                <div class="div_porcoes" style="background-color: #f4511e;">
                    <div *ngFor="let hamburger of hamburgers; index as hamburgerId">
                        <div class="imagem_porcao">
                            <img src="{{hamburger.imagem}}" alt="">
                        </div>
                        <div class="descricao_porcao">
                            <span>R$</span>
                            <h1>{{hamburger.valor}}</h1>
                        </div>
                        
                        <div class="descricao_botao">
                            <h3>
                                <a [title]="hamburger.name + ' details'" [routerLink]="['/hamburgers', hamburgerId]">
                                    <button>{{hamburger.nome}}</button>
                                </a>
                            </h3>
                            <!-- . . . -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>