<body>

        <div style="padding: 50px;" class="central">
                <div class="inicio central">

                        <div class="centralizando topico">

                            
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/porcoes">
                                                <img src="assets/1_porções.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>

                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/porcoes">
                                                <img src="assets/2_porções.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/porcoes">
                                                <img src="assets/3_porções.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                             

                        </div>

                        <div class="centralizando ">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/lanches">
                                                <img src="assets/1_hamburger.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/lanches">
                                                <img src="assets/2_hamburger.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/lanches">
                                                <img src="assets/3_hamburger.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                             

                        </div>

                        <div class="centralizando ">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/japones">
                                                <img src="assets/1_sushi.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/japones">
                                                <img src="assets/2_sushi.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/japones">
                                                <img src="assets/3_sushi.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                        </div>

                        <div class="centralizando ultimo_topico">

                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/1_buffet.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens" style="padding: 4px 0px 4px 0px">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/2_buffet.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                                <div class="apresentacao_imagens">
                                        <div class="zoom">
                                                <a routerLink="/buffet">
                                                <img src="assets/3_buffet.png" class="img-responsive">
                                                </a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

</body>